body {
  margin: 0;
}

header {
  height: 60px;
  width: 100vw;
  background-color: red;
}

/*///////////////////////////////////*/

#page-body {
  display: flex;
}

#page-main {
  flex: 1 1 80%;
}

#page-sidebar {
  flex: 1 1 auto;
}

/*///////////////////////////////////*/


#page-body,
#page-main,
#page-sidebar {
  border: 2px solid black;
}
